header {
  font-family: Georgia, serif;
  font-size: 48px;
  font-color: #333333;
  font-weight: bold;
  margin: auto;
  text-align: center;
  letter-spacing: -4px;
}
body {
  width: 800px;
  font-family: Helvetica, sans-serif;
  margin: auto;
}
.textcontainer {
  width: 500px;
  margin: 10px;
  margin-top:50px;
  float: right;
}
hr {
  align: center;
  margin: 10px;
}
img {
  padding: 10px;
  margin-right: 20px;
  text-align: center;
}
.profilepic {
  width: 200px;
  float: left;
  margin-top: 60px;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-color: #333333;
  font-weight: bold;
  margin: 18px;
  text-align: center;
  letter-spacing: 2px;
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-color: #333333;
  margin: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.workstext {
  text-align: left;
}
a {
  font-family: Helvetica, sans-serif;
  padding: 8px;
  text-decoration: none;
}
.cta {
  font-weight: bold;
  color: Deep Violet;
  border: 3px solid #000000;
  padding: 8px;
  width: 200px;
  text-align: center;
}

hr {
  width: 500px;
  margin: auto;
}
li {
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}
