header {
  font-family: Georgia, serif;
  font-size: 48px;
  color: #333333;
  font-weight: bold;
  margin: auto;
  text-align: center;
  letter-spacing: -4px;
}

body {
  width: 800px;
  font-family: Helvetica, sans-serif;
  margin: auto;
}
.textcontainer {
  width: 480px;
  margin: 10px;
  margin-top:50px;
  float: right;
}
hr {
  align: center;
  margin: 10px;
}
img {
  padding: 10px;
  margin-right: 20px;
  text-align: center;
}
.profilepic {
  width: 200px;
  float: left;
  margin-top: 50px;
}
.profilesection {
  width: 200px;
  float: left;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin: 18px;
  text-align: center;
  letter-spacing: 2px;
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  margin: 8px;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

a {
  font-family: Helvetica, sans-serif;
  padding: 8px;
  text-decoration: none;
  color: #000000;
}
.cta {
  font-weight: bold;
  color: #000000;
  border: 3px solid #000000;
  padding: 8px;
  width: 200px;
  text-align: center;
}

a:visited {
    color: LightGrey;
}

a:hover {
    background-color: Grey;
}

hr {
  width: 500px;
  margin:auto;
  margin-bottom: 18px;
}
li {
  font-size: 16px;
  margin: 20px;
}

.listheader{
  font-weight:bold;
  text-align: left;
  font-size: 18px;
}

#top{
}
