

body {
  background-color: Linen;
  font-family: sans-serif;
}

header {
background-color: LightGray;
font-size:50px;
padding: 10px;
text-align: center;
margin: 20px;
}

footer{
  text-align: center;
}


p {
    margin: 20px;
    color: #333333
      text-align: center;
}

ul{
  list-style: square;
}

li {
  color: lightslategray;
  margin: 8px;
}

a{
color: orangered;
text-decoration: none;
}

a:hover {
  color: aliceblue;
}

}
#thetoptop{
  color: MediumPurple;
}
